.slider {
  &-item {
    margin-right: 5px;
    cursor: pointer;
    width: 100%;

    img {
      border-radius: 5px;
      width: 100%;
    }
  }
  // &-item {
  //   max-width: 300px;
  //   position: relative;
  //   padding-right: (192/341) * 100%;
  //   width: 100%;

  //   img {
  //     position: absolute;
  //     width: 100%;
  //   }
  // }
}
