.sliderContent {
  // display: flex;
  // width: 100%;
  // overflow-y: hidden;
  // overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &.lolomoRow {
    margin: 3vw 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .row {
      &Header {
      }

      &Container {
        display: flex;
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
