.modal {
  &-preview {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    color: white;
    transform-origin: center;
    border-radius: 5px;
    cursor: pointer;

    & > img {
      cursor: pointer;
    }

    // animation
    &__container {
      padding: 1em;
    }

    &__info {
      position: relative;
    }

    &__controls {
      display: flex;
      margin-bottom: 0.5em;
      // padding: 0.5rem 0;

      & > svg {
        font-size: 2rem;

        &:not(:first-child) {
          margin-left: 5px;
        }
      }
    }

    &__evidence {
      .evidence {
        &-list {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 0;
          margin: 0;
        }

        &-item {
        }
      }
    }
  }
}

// Animations
.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  // transform: scale(1.5, 1.5);
  // width: 300px;
  // height: 300px;
  // background-color: red;
  opacity: 1;
  transform: scale(1.2, 1.2);
  transition: all 200ms ease-in;
}

.example-exit {
  opacity: 1;
  transform: scale(1.2, 1.2);
}

.example-enter-done {
  transform: scale(1.2, 1.2);
}

.example-exit.example-exit-active {
  opacity: 0;
  transform: scale(1, 1);
  transition: all 200ms ease-in;
}
